<!DOCTYPE>
<html>
	<head>
		<meta charset="utf-8">
		<title>Hello, world!</title>
		<style type="text/css">
			table {
				background-color:	#fafafa;
				border-bottom:		solid 1px #778899;
				border-top:			solid 1px #4586ab;
				border:				none;
				margin:				auto;
				padding:			0em;
			}
			tr {
				margin:		0em;
				padding:	0em;
			}
			td {
				padding:		0em 0.75em;
				vertical-align:	middle;
			}
			tr + tr td {
				border-top:		dashed 1px #778899;
			}
			td + td {
				border-left:	dashed 1px #778899;
			}
			hr {
				width:	70%;
			}
		</style>
	</head>
	<body>
	
